<html>
    <head>
        <title>Express website template</title>
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <img alt="express logo" src="assets/img/express-logo.png" height="25%" width="auto"/>
        <h1>Welcome to this express template</h1>
        <br>
        <br>
        <h2>This template contains all the elements you need to get started with a web server. The website files are located in the views folder. In the views folder you will find several folders and an index.ejs file. It's like HTML</h2>
    </body>
</html>